/* media 1440 */
@media (max-width:1440px){
    .picture{
        right: 165px;
    }

    .header {
        max-width: none;
        width: initial;
    }

    .content_text {
        padding-left: calc(40% + 40px);
        width: 100%;
        max-width: none;
    }

    .header_ref-link {
        justify-content: flex-end;
    }

    .header_ref-main {
        flex: 0.8 0;
    }

    .header_ref-go {
        font-size: 12px;
    }

    .image_auto_car {
        max-width: 40%;
        width: 100%;
        height: initial;
        min-height: 644px;
    }

    .content_text {
        padding-top: 59px;
    }

    .dream_auto_img {
        max-width: none;
        grid-template-columns: initial;
        grid-template-rows: initial;
        grid-column-gap: initial;
        grid-row-gap: initial;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .dream_auto_img picture {
        max-height: 298px;
        margin-bottom: 40px;
    }

    .our_servis_img {
        max-width: 1160px;
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(4fr, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
    }

    .container {
        padding: 0px 35px;
        max-width: 95vw;
    }

    .container_diagnostic_repair {
        grid-template-columns: auto auto;
    }

    .Truck {
        max-width: 43vw;
        height: initial;
    }

    .diagnostic_repair_img {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .container_search {
        width: 100%;
        grid-template-columns: 50% 50%;
    }

    .container_assistance_with_the_sale, .container_footer, .diagnostic_text_up {
        width: 100%;
    }
}

@media (max-width:1210px){
    .header{
        max-width: none;
        width: 100%;
        margin: 0;
    }
    .header_body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 59px;
        padding-top: 21px;
    }
    .image_auto_car{
        max-width: 30%;
    }
    .content_text {
        padding-left: calc(30% + 40px);
    }
    .dream_auto_container {
        margin-top: 200px;
    }
   
    .dream_auto_container {
        margin-top: 0;
        top: 0;
    }
    .dream_auto_title_1, .dream_auto_title_2 {
        font-size: 32px;
        line-height: 39px;
    }
    /* .dream_auto_img picture {
        max-height: 298px;
        margin-bottom: 22px;
        margin-right: 22px;
    } */
    .dream_auto_text {
        margin-bottom: 40px;
    }
    .dream_auto_img {
        padding-top: 0;
    }
    .content {
        padding-bottom: 200px;
    }
    .text_auto_bottom, .text_auto_bottom_item, .text_auto_bottom_up, .our_servis_text_1, .our_servis_text_2, .diagnostic_repair_text_1, .diagnostic_repair_text_2, .assistance_with_the_sale_text_1, .assistance_with_the_sale_text_2 {
        font-size: 32px;
        line-height: 39px;
        text-align: left;
    }
    .content_list_text {
        padding-top: 20px;
    }
    .content_list_car {
        padding-bottom: 0;
        margin-bottom: 40px;
    }
    .btn {
        display: block;
        width: fit-content;
    }
    .header_ref-logo{
        min-width: initial;
        width: fit-content;
    }
    .header_ref-name::before {
        left: 0;
    }
    .header_ref-name {
        padding-left: 30px;
    }
    .header_ref-right{
        margin-left: 15px;
    }

    .header_ref-link {
        display: none;
    }

    .header_ref{
        margin: 0;
        padding-left: 65px;
    padding-top: 12px;
    }
    .header_ref-burger{
        display: flex;
    }
    .header_burger-body,
    .header_burger-link
    {
        display: block;
    }

    /* .dream_auto_img{
        max-width: none;
        width:100%;
        grid-column-gap: 0;
        grid-row-gap: 0;
        margin: 0 auto;
    } */
    .dream_auto_text_up {
        max-width: 283px;
    }
    .btn-690 {
        display: none;
    }
    .diagnostic_repair_img img {
        width: 193px;
        height: 193px;
    }
    .container_assistance_with_the_sale, .container_diagnostic_repair {
        display: flex;
        flex-direction: column;
    }
    .dream_auto_img_mark {
        width: 298px;
        height: 298px;
    }
    .our_servis_text_1{
        text-align: left;
    }
    .our_servis_img{
        max-width: none;
        width: 100%;
        grid-template-columns: initial;
        grid-row-gap: initial;
        grid-column-gap: initial;
        grid-template-rows: initial;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .our_servis_img_ser {
        width: 299px;
        height: 509px;
    }

    .our_servis_img picture {
        margin-bottom: 20px;
        height: fit-content;
        max-height: 509px;
    }

    .container {
        padding: 0px 35px;
        max-width: none;
    }

    .container_diagnostic_repair {
        padding-top: 140px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .container_search {
        margin-bottom: 10px;
        display: grid;
        width: 100%;
        grid-template-columns: 10% 90%;
        grid-row-gap: 60px;
    }
    .container_search .picture img {
        width: 393px;
        height: 174px;
    }
    .Truck {
        max-width: 100%;
        height: initial;
    }

    .diagnostic_repair_img {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        display: grid;
        grid-template-columns: 193px 194px 193px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .container_footer{
        width: 100%;
        display: grid;
        grid-template-columns: 40% 48%;
        grid-column-gap: 75px;
        grid-row-gap: 20px;
        padding: 160px 0px 80px 0px;
    }
    
    .footer_picture{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0 auto;
    }

    .footer_groups{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 0 auto;
    }

    .servis_footer{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .text_footer{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        
        font-size: 15px;
    }

    .phone_footer{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

        padding-top: 40px;
            margin: 0 auto;
    }

    .servis_footer_title{
        font-size: 18px;
    }
    .footer_list li {
        font-size: 16px;
    }

    .link_footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;

        padding-top: 70px;
        font-size: 15px;
    }
} 

@media (max-width: 1000px) {
    .image_auto_car{
        max-width: 50%;
    }
    .content_text {
        padding-left: calc(50% + 40px);
    }
}

@media (max-width: 693px) {
    .text_auto_bottom, .text_auto_bottom_item, .text_auto_bottom_up, .our_servis_text_1, .our_servis_text_2, .diagnostic_repair_text_1, .diagnostic_repair_text_2, .assistance_with_the_sale_text_1, .assistance_with_the_sale_text_2 {
        font-size: 26px;
        line-height: 32px;
    }

    .header_ref{
        margin: 0;
        padding-left: 0;
    padding-top: 0;
    }

    .dream_auto_img_mark {
        width: 100%;
        height: auto;
    }

    .help_for_sale img {
        width: 100%;
        height: auto;
    }

    .dream_auto_img picture {
        max-height: 273px;
    margin-bottom: 40px;
    }

    .container_footer {
        display: flex;
        flex-direction: column;
        grid-template-columns: initial;
        grid-column-gap: initial;
        grid-row-gap: initial;
        padding: 160px 10px 80px;
        align-items: flex-start;
    }

    .footer_picture {
        margin: 0;
        margin-bottom: 25px;
        order: 0;
    }

    .footer_groups {
        margin: 0;
        margin-bottom: 40px;
        order: 1;
    }

    .servis_footer {
        margin-bottom: 30px;
        order: 3;
    }

    .text_footer {
        order: 4;
        margin-bottom: 19px;
    }

    .link_footer {
        order: 5;
        margin: 0;
        padding: 0;
    }

    .phone_footer {
        order: 2;
        padding: 0;
        margin: 0;
        display: block;
        margin-bottom: 40px;
    }

    .phone_footer a {
        display: block;
    }

    .container {
        padding: 0px 10px;
    }

    .search {
        height: initial;
        padding-bottom: 30px;
    }

    .container_search {
        display: flex;
        flex-direction: column;
        grid-template-columns: initial;
        grid-row-gap: initial;
    }

    .container_search .picture {
        right: 0;
        margin-bottom: 30px;
    }

    .container_search .picture img {
        width: 100%;
        height: initial;
    }

    .search_title {
        padding: 0;
        
        margin-bottom: 20px;
    }

    .search_text_1, .search_text_2 {
        font-size: 26px;
        line-height: 32px;
    }

    .search_text {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .btn_call_6 {
        display: block;
        width: fit-content;
        margin-left: auto;
    }

    .container_diagnostic_repair, .container_assistance_with_the_sale {
        display: flex;
        flex-direction: column;
        grid-template-columns: initial;
        grid-column-gap: initial;
        grid-row-gap: initial;
    }

    .diagnostic_repair_title {
        margin-bottom: 13px;
    }

    .diagnostic_text_up {
        padding: 0;
        margin-bottom: 20px;
    }

    .car_truck {
        order: 4;
    }

    .diagnostic_repair_img {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin-bottom: 22px;
        gap: 20px;
    }

    .diagnostic_repair_img img {
        width: 140px;
        height: 147px;
    }

    .our_servis_img_ser {
        width: 299px;
        height: 523px;
    }

    .our_servis_img picture {
        margin-bottom: 20px;
        height: fit-content;
        max-height: 523px;
    }
    .our_servis_img a {
        bottom: 228px;
    }
    .dream_auto_text {
        width: initial;
    }
    .dream_auto_img_mark {
        width: 100%;
    }
    .logo {
        top: 278px;
        right: -10px;
        left: initial;
        /* width: 100%; */
        width: 50%;
    }
    .image_auto_car {
        max-width: none;
    /* height: 200px; */
    object-fit: contain;
    min-height: initial;
    }

    .btn--auto {
        font-size: 12px;
    line-height: 157.9%;
    padding: 12px 19px;
    }

    .content_podbor, .content_podbor_96, .car {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }
    .content_text {
        padding-left: 0;
        padding-top: 30px;
    }
    .btn-690 {
        display: block;
        width: 90%;
        text-align: center;
    }

    .help_for_sale img {
        max-width: 100%;
    }

    .container_assistance_with_the_sale {
        gap: 20px;
    }

    .logo{

        width: fit-content;
    }

    .image_auto_car {
        max-height: 300px;
    }

    .dream_auto_img p {
        width: 90%;
    }
}

/* @media (max-width:693px){ */
    /* .body{
        background-image:url('/img/fon_690.png');
    }
    body{
        overflow-x: hidden;
        width: initial;
    }
   
    .header_body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 59px;
        padding-top: 21px;
    }
    .image_auto_car{
        width:300px;
        height:603px;
    }
    .text_auto{
    }
    .text_auto_bottom_up{
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 39px;
    }
    .text_auto_bottom{
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 39px;
    }
    .text_auto_bottom_item{
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 39px;
    }
    
    .text_auto{
        width:320px
    }
    .content_text{
        position: relative;
        padding-left: 330px;
        
    }
    .content_podbor_text{
        width: 300px;
        position: relative;
        top:-40px;
        margin: 0;
    }
    .content{
        position: relative;

    }
    .content_list_car{
        position: relative;
        top: -40px;
        padding-bottom: 0;
        max-width: 300px;
        width: 100%;
    }
    .dream_auto{
        margin:0;
        padding:0;
    }
    .union_37{
        position: absolute;
        z-index: 120;
        left:65px;
        top: 33px;
    }
    .dream_auto_list{
        width: 300px;
    }
    .dream_auto_title_1{
        font-size: 32px;
        line-height: 39px;
    }
    .dream_auto_title_2{
        font-size: 32px;
        line-height: 39px;
    }
    .dream_auto_text{
        font-size: 17px;
        line-height: 21px;
    }
    .our_servis_text_1{
        text-align: left;
        font-size: 32px;
        line-height: 39px;
    }
    .our_servis_text_2{
        font-size: 32px;
        line-height: 39px;
    }
    .our_servis_img_ser{
        width:299px;
        height:505px;
    }
    .diagnostic_repair_text_1{
        font-size: 32px;
        line-height: 39px;
    }
    .diagnostic_repair_text_2{
        font-size: 32px;
        line-height: 39px;
    }
    .assistance_with_the_sale_text_1{
        font-size: 32px;
        line-height: 39px;
    }
    .assistance_with_the_sale_text_2{
        font-size: 32px;
        line-height: 39px;
    }

    .dream_auto_img{
        max-width: 620px;
        padding-top: 225px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 239px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .dream_auto_img_mark{
        width: 300px;
        height: 239px;
    }
    .dream_auto_img_mark_9{
        width: 300px;
        height: 193px;
    }
    .dream_auto_img_mark_div_1{
       
    }
    .dream_auto_img_mark_div_9 {
        grid-template-rows: 193px;
    }
    .text_dream_1{
        left: 15px;
        padding-top: 15px;
        width: 270px;
    }
    .text_dream_2{
        padding-top: 32px;
        width: 270px;
    }
    .text_dream_3{
        padding-top: 15px;
        width: 270px;
    }
    .text_dream_4{
        padding-top: 15px;
        width: 270px;
    }
    .text_dream_5{
        position: relative;
        bottom: 128px;
        width: 270px;
    }
    .text_dream_6{
        position: relative;
        bottom: 133px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px;
        letter-spacing: -0.03em;
        width: 210px;
    }
    .text_dream_7{
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        position: relative;
        bottom: 120px;
        width: 300px;
    }
    .text_dream_8{
        position: relative;
        bottom: 112px;
        padding-top: 15px;
        width: 270px;
    }
    .text_dream_9{
        padding-top: 35px;
        width: 270px;
    }

    .btn-690{
        width: 259px;
    }

    .dream_auto_text_up{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
        margin-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 23.68px;     
    
        color: #434343;
    }

    .footer {
        max-width: 740px;
    }
  

    .search {
        max-width: 740px;
    }

    .our_servis_img{
        max-width: 620px;
        width: 100%;
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 505px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    
    .container_diagnostic_repair{
        padding-top: 140px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .diagnostic_repair_title{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0px;

        
    }

    .diagnostic_repair_img img{
        width: 193px;
        height: 193px;
    }

    .diagnostic_repair_text_1 {
        font-size: 32px;
    }

    .diagnostic_repair_text_2 {
        font-size: 32px;
    }

    .car_truck{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .Truck {
        width: 300px;
        height: 330px;
    }

    .diagnostic_text_up{
        width: 300px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        
    }

    .diagnostic_text_up_item_1{
        
    }

    .diagnostic_text_up_item_2{
       
    }

    .diagnostic_repair_img{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        display: grid;
        grid-template-columns: 193px 194px 193px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    
    .diagnostic_repair_img_div_1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .diagnostic_repair_img_div_2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .diagnostic_repair_img_div_3{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        
    }
    .diagnostic_repair_img_div_4{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .diagnostic_repair_img_div_5{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .diagnostic_repair_img_div_6{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    

    .container_assistance_with_the_sale{
        padding-top: 160px;
        width: 620px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        padding-bottom: 160px;
    }

    .assistance_with_the_sale_title{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        
    }
    
    .help_for_sale{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .assistance_with_the_sale_text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .phone_assistance{
        padding-top: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .container_search{
        margin-bottom:10px;
        display: grid;
        width: 620px;
        grid-template-columns: 100px 529px;
        grid-row-gap: 60px;
    }
    .picture{
        z-index: 50;
        position: relative;
        bottom:20px;
        right: 80px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .picture img {
        width: 393px;
        height: 174px;
    }

    .search_text_1 {
        font-size: 32px;
        line-height: 39px;
    }

    .search_text_2 {
        font-size: 32px;
        line-height: 39px;
    }
    .search_text {
        font-size: 17px;
    }

    .search_title{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        
        padding-top: 40px;
    }

    .search_text{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .phone_search{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .container_footer{
        width: 100%;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-column-gap: 35px;
        grid-row-gap: 20px;
        
        padding: 160px 0px 80px 0px ;
    }
    
    .footer_picture{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0 auto;
    }

    .footer_groups{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 0 auto;
    }

    .servis_footer{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .text_footer{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        
        font-size: 15px;
    }

    .phone_footer{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

        padding-top: 40px;
            margin: 0 auto;
    }

    .servis_footer_title{
        font-size: 18px;
    }
    .footer_list li {
        font-size: 16px;
    }

    .link_footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;

        padding-top: 70px;
        font-size: 15px;
    }
    .btn_call_1{
        position: relative;
        bottom:170px;
        left:19px;
        padding: 20px 58px;
    }
    .btn_call_2{
        position: relative;
        left:19px;
        bottom:209px;
        padding: 20px 58px;
    }
    .btn_call_3{
        position: relative;
        left:19px;
        bottom:165px;
        padding: 20px 58px;
    }
    .btn_call_4{
        position: relative;
        left:19px;
        bottom:190px;
        padding: 20px 58px;
    }
    .btn_call_6{
        padding: 20px 28.5px;
    }
    .title_our_servis_img_1{
        position: relative;
        bottom: 270px;
        width: 259px;
    }
    .title_our_servis_img_2{
        position: relative;
        bottom: 270px;
        width: 259px;
        width: 259px;
    }
    .title_our_servis_img_3{
        position: relative;
        bottom: 270px;
        width: 259px;
        width: 259px;
    }
    .title_our_servis_img_4{
        position: relative;
        bottom: 270px;
        width: 259px;
        width: 259px;
    }
    .text_our_servis_img_1{
        position: relative;
        bottom: 260px;
        width: 259px;
    }
    .text_our_servis_img_2{
        position: relative;
        bottom: 260px;
        width: 243px;
        
    }
    .text_our_servis_img_3{
        position: relative;
        bottom: 260px;
        width: 259px;
        
    }
    .text_our_servis_img_4{
        position: relative;
        bottom: 260px;
        width: 259px;
        
    }
    .price_our_servis_img_1{
        position: relative;
        bottom: 240px;
        width: 259px;
    }
    .price_our_servis_img_2{
        position: relative;
        bottom: 240px;
        width: 259px;

    }
    .price_our_servis_img_3{
        position: relative;
        bottom: 240px;
        width: 259px;

    }
    .price_our_servis_img_4{
        position: relative;
        bottom: 240px;
        width: 259px;

    }

    .container_footer{
        width: 300px;
        display: grid;
        grid-template-columns: 300px;
        grid-row-gap: 30px;
        
        padding: 160px 0px 80px 0px ;
    }
    
    .footer_picture{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .footer_groups{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .servis_footer{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .text_footer{
        width: 280px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        font-size: 15px;
    }

    .phone_footer{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

        margin-top: 20px;
    }

    .servis_footer_title{
        font-size: 18px;
    }
    .footer_list li {
        font-size: 16px;
    }

    .link_footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;

        padding-top: 100px;
        font-size: 15px;
    }
} */



/* @media (max-width:320px){ */
    
    /* .body{
        background-image:url('/img/fon_690.png');
    } */
    /* .text_dream_1{
        position: relative;
        bottom: 115px;
    }
    .text_dream_2{
        position: relative;
        bottom: 135px;
    }
    .text_dream_3{
        position: relative;
        bottom: 115px;
    }
    .text_dream_4{
        position: relative;
        bottom: 115px;
        left:15px;
    }
    .text_dream_5{
        position: relative;
        bottom: 105px;
    }
    .text_dream_6{
        
    }
    .text_dream_7{
        position: relative;
        bottom: 100px;
    }
    .text_dream_8{
        position: relative;
        left:17px;
    }
    .text_dream_9{
        position: relative;
        bottom: 90px;
    }

    .image_auto_car{
        width:192px;
        height:386px;
        position: relative;
        left: 190px;
        top: 302px;
    }
    .text_auto{
    }
    .text_auto_bottom_up{
        font-size: 26px;
        line-height: 32px;
    }
    .text_auto_bottom{
        font-size: 26px;
        line-height: 32px;
    }
    .text_auto_bottom_item{
        font-size: 26px;
        line-height: 32px;
    }
    .container{
        width: 300px;
        margin: 0 10px;
    }
    
    .header{
        width: 320px;
    }
    
    .text_auto{
        width:320px
    }
    .content_text{
        position: relative;
        left: -320px;
        width: 300px;
        
    }
    .content_podbor_text{
        width: 300px;
        position: relative;
        top:-40px;
        margin: 0;
    }

    .content_podbor{
        font-size: 15px;
        line-height: 18px;
    }

    .content_podbor_96{
        font-size: 15px;
        line-height: 18px;
    }


    .content{
        position: relative;

    }
    .content_list_text{
        font-size: 15px;
        line-height: 18px;
    }
    .content_list_car{
        position: relative;
        top: -40px;
        padding-bottom: 0;
        width: 300px;
    }

    .content_list li{
        font-size: 15px;
        line-height: 18px;
    }

    .dream_auto_container{
        margin-top: 200px;
    }

    .dream_auto{
        margin:0;
        padding:0;
    }
    .union_37{
        position: absolute;
        z-index: 120;
        left:65px;
        top: 33px;
    }
    .dream_auto_list{
        width: 300px;
    }
    .dream_auto_title{
        
    }
    .dream_auto_title_1{
        width: 290px;
        height: 96px;
        font-size: 26px;
        line-height: 32px;
    }
    .dream_auto_title_2{
        font-size: 26px;
        line-height: 32px;
    }
    .dream_auto_text{
        width: 300px;
        font-size: 15px;
        line-height: 18px;
    }
    .our_servis_text_1{
        font-size: 26px;
        line-height: 32px;
    }
    .our_servis_text_2{
        font-size: 26px;
        line-height: 32px;
    }
    .diagnostic_repair_text_1{
        font-size: 26px;
        line-height: 32px;
    }
    .diagnostic_repair_text_2{
        font-size: 26px;
        line-height: 32px;
    }

    .assistance_with_the_sale_text_1{
        width: 300px;
        font-size: 26px;
        line-height: 32px;
    }
    .assistance_with_the_sale_text_2{
        width: 300px;
        font-size: 26px;
        line-height: 32px;
    }

    .dream_auto_img{
        max-width: 300px;
        padding-top: 225px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 239px 239px 239px 239px 239px 239px 239px 239px 193px 80px;
        grid-row-gap: 20px;
    }


    .btn-690{
        width: 259px;
    }

    .dream_auto_text_up{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 11;
        margin-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        width: 300px;
        padding-bottom: 20px;
        line-height: 18px;
        line-height: 23.68px;
    
        color: #434343;
    }
    .assistance_with_the_sale_text_content{
        font-size: 15px;
        line-height: 18px;
    }
    .assistance_with_the_sale_text_list{
        padding-top: 20px;
        font-size: 15px;
        line-height: 18px;
    }
    .assistance{
        width: 300px;
        padding-bottom: 7.5px;
        font-size: 15px;
        line-height: 18px;
    }
    .btn_call_5{
        font-size: 12px;
        padding: 13.5px 19.5px;
        line-height:19px;
    }
    .search_title{
        font-size: 26px;
        line-height: 32px;
    }
    .search_text{
        font-size: 15px;
        line-height: 18px;
    }
    .btn_call_6{
        font-size: 12px;
        line-height: 19px;
        padding: 13.5px 19.5px;


    }
    .footer {
        max-width: 390px;
    }

    .our_servis_img{
        width: 300px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 505px 505px 505px 505px;
        grid-row-gap: 30px;
    }
    
    .container_diagnostic_repair{
        padding-top: 140px;
        width: 300px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .diagnostic_repair_title{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0px; 
          
    }

    .diagnostic_repair_img img{
        width: 140px;
        height: 140px;
    }

    .diagnostic_repair_text_1 {
        font-size: 26px;
        line-height: 31.69px;   
        width: 300px; 
    }

    .diagnostic_repair_text_2 {
        
    }

    .car_truck{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        padding-top: 10px;
    }

    .Truck {
        width: 300px;
        height: 330px;
    }

    .diagnostic_text_up{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 300px;
        
    }

    .diagnostic_text_up_item_1{
        font-size: 15px;
        width: 300px;
    }

    .diagnostic_text_up_item_2{
        padding-top: 20px;
        font-size: 15px;
        width: 300px;
    }

    .diagnostic_repair_img{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 6;
        display: grid;
        grid-template-columns: 140px 140px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    
    .diagnostic_repair_img_div_1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .diagnostic_repair_img_div_2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .diagnostic_repair_img_div_3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
    }
    .diagnostic_repair_img_div_4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .diagnostic_repair_img_div_5{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .diagnostic_repair_img_div_6{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .container_assistance_with_the_sale{
        padding-top: 160px;
        width: 300px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        padding-bottom: 147px;
    }

    .assistance_with_the_sale_title{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .help_for_sale{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
  
    .assistance_with_the_sale_text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .phone_assistance{
        padding: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .container_search{
        display: grid;
        width: 320px;
        grid-template-columns: 300px;
        grid-row-gap: 0px;
        padding-bottom:0px;
    }
    .picture{
        z-index: 50;
        position: relative;
        bottom:20px;
        right: 50px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 154px;
    }

    .picture img {
        width: 393px;
        height: 174px;
    }

    .search_text_1 {
        font-size: 26px;
        line-height: 32px;
    }

    .search_text_2 {
        font-size: 26px;
        line-height: 32px;
    }
    .search_text {
        font-size: 15px;
    }

    .search_title{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-top: 0px;
    }

    .search_text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        margin-top: 80px;
    }

    .phone_search{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 170px;

    }

    .container_footer{
        width: 300px;
        display: grid;
        grid-template-columns: 300px;
        grid-row-gap: 30px;
        
        padding: 160px 0px 80px 0px ;
    }
    
    .footer_picture{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .footer_groups{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .servis_footer{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .text_footer{
        width: 280px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        font-size: 15px;
    }

    .phone_footer{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

        margin-top: 20px;
    }

    .servis_footer_title{
        font-size: 18px;
    }
    .footer_list li {
        font-size: 16px;
    }

    .link_footer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;

        padding-top: 100px;
        font-size: 15px;
    }
    
    .diagnostic_repair_img img{
        width: 140px;
        height: 140px;
    }
   .btn{
    padding: 9.5px 70.5px;
    font-size: 12px;
    border-radius: 10px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    white-space: nowrap;
   }
    
}

*/